/*
 * Copyright (c) 2026 Yongci
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <espressif/esp32c6/esp32c6_wroom_n4.dtsi>
#include "envdaq_bot_hpcore-pinctrl.dtsi"
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/led/led.h>
#include <espressif/partitions_0x0_default_4M.dtsi>

/ {
	model = "EnvDaq Bot HP Core";
	compatible = "envdaq,bot";

	chosen {
		zephyr,sram = &sramhp;
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
		zephyr,ieee802154 = &ieee802154;
	};

	aliases {
		watchdog0 = &wdt0;
		i2c-0 = &i2c0;
		sw0 = &button0;
		rgb0 = &rgb_led;
		led-strip = &rgb_led;
	};

	buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpio0 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "BOOT Button";
			zephyr,code = <INPUT_KEY_0>;
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&trng0 {
	status = "okay";
};

&i2c0 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	ch224q: usbc-controller@37 {
        compatible = "wch,ch224q";
        reg = <0x37>;
        mode = "i2c";
        voltage-request = <20000>;
        int-gpios = <&gpio0 23 GPIO_ACTIVE_LOW>;
        pg-gpios = <&gpio0 22 GPIO_ACTIVE_LOW>;   /* PG pin - active low */
    };

	/*
	htu21d: {

	};

	bmp180: {

	};

	bh1750: {

	};

	*/
};

&i2s {
	pinctrl-0 = <&i2s_default>;
	pinctrl-names = "default";
	status = "okay";

	dmas = <&dma 3>;
	dma-names = "tx";

	rgb_led: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";

		reg = <0>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		reset-delay = <500>;
	};
};

&gpio0 {
	status = "okay";

	/*
	 * TPS56A37 pins
	 *
	 * buck_en output HIGH: enable buck;
	 * buck_pg read input LOW: power good
	 */ 
	buck_en {
		gpio-hog;
	    gpios = <19 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "buck_en";
	};

	buck_pg {
		gpio-hog;
		gpios = <18 GPIO_ACTIVE_LOW>;
		input;
		line-name = "buck_pg";
	};

	/* 
	 * CH9442Q SEL pins
	 *
	 * SEL==0&&EN==0: select ch224q(default);
	 * SEL==1&&EN==0: select esp32c6-mini-1u;
	 * EN!=0: USB dissconnected 
	 */
	usb_mux_sel {
		gpio-hog;
		gpios = <20 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "usb_mux_sel";
	};
	usb_mux_en {
		gpio-hog;
		gpios = <21 GPIO_ACTIVE_LOW>;
		line-name = "usb_mux_en";
	};

	/*
	 * Relay
	 * 
	 * relay_a: K1, relay_b: K2
	 * NPN
	 */
	relay_a {
		gpio-hog;
		gpios = <14 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "relay_a";
	};
	relay_b {
		gpio-hog;
		gpios = <15 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "relay_b";
	};
};

&adc0 {
    status = "okay";
    #address-cells = <1>;
    #size-cells = <0>;

    /*
	 * ADC1_CH2 (GPIO2)
	 *
	 * Battery voltage read
	 */
    channel@2 {
        reg = <2>;
        zephyr,gain = "ADC_GAIN_1_4";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,vref-mv = <3894>;
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
    };
};

&wdt0 {
	status = "okay";
};

&wifi {
	status = "okay";
};

&ieee802154 {
	status = "okay";
};

&esp32_bt_hci {
	status = "okay";
};

&dma {
	status = "okay";
};
